@media screen and (max-width: 991px) {

    section,
    .first-screen {
        margin-bottom: 56px;

    }

    section {

        &.container-fluid,
        &.advantages.container-fluid {
            padding: 55px 0 60px;

            &:before {
                left: 0;
                right: 0;
                border-radius: 0;
            }
        }

    }

    .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    header {
        .navbar {
            padding-top: 19px;
            padding-bottom: 17px;
            margin-bottom: 0;
            transition: .3s;
        }

        .navbar-nav {
            text-align: center;
            padding: 34px 0 28px;
        }

        .nav-link {
            font-size: 24px;
            line-height: 200%;
            text-align: center;
            color: $text-color;
        }

        .navbar-collapse {
            background-color: #363A4D;
            margin: 0 -20px 0;
            padding: 0 40px;
            transition: 1s;
            transform: translate(0, 15px);
            text-align: center;
        }

        .btn {
            justify-content: center;
            margin: 0 0 60px;
            width: 100%;
            padding: 22px 26.7px;
            letter-spacing: 0.6px;
            max-width: 295px;
        }
    }

    .first-screen {
        text-align: center;

        &__title {
            font-size: 32px;
            margin: 0 auto 10px;
            max-width: 295px;
        }

        &__subtitle {
            font-size: 16px;
            margin: 0 auto 18px;
        }



        .slick-list {
            margin: 0px -20px;
            border-radius: 0;
        }

        .slick-slide {
            border-radius: 0;
            height: calc(100vh - 72px);
            padding: 26vh 0 228px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg, rgb(4 5 17 / 1%), rgb(4 5 17 / 15%));
            }

            .container {
                z-index: 1;
                position: relative;
            }
        }

    }

    .template-title {
        margin-bottom: 40px;

        h2 {
            font-size: 24px;
            text-align: center;
        }

        &.text-left {
            &:after {
                left: 50%;
                transform: translate(-50%, 0);
            }
        }

        &.col-lg-7 {
            h2 {
                &::after {
                    position: absolute;
                    left: 50%;
                    top: calc(100% - 2px);
                    transform: translate(-50%, 0);
                    margin: 0;
                }
            }
        }
    }



    .calculation {
        margin-bottom: 60px;

        .container {
            &:after {
                display: none;
            }
        }
    }

    .calculation-form {
        margin: 0 auto;
        padding: 48px 27px 34px;
    }

    .padding-top {
        padding-top: 9px;
    }

    #file-name {
        margin-top: 5px;
        margin-bottom: 12px;

    }

    .advantages {
        .slick-list {
            padding-top: 12px;
        }
    }

    .advantage-title {
        max-width: 263px;
        margin: 0 auto;
    }

    .slider-template {
        width: 390px;
    }

    //about

    .about-company {
        font-size: 16px;
        line-height: 149.5%
    }

    .about-company__img {
       
        margin: 33px auto;
        width: 100%;
    }

    //faq

    .questions-container{
        flex-wrap: wrap;
        justify-content: center;

        .accordion-item{
            min-width: 350px;
         }

         .faq-form{
            margin-top: 28px;
        }
    }


}
