

@media screen and (max-width: 1570px) {
    .first-screen{
        .slick-arrows{
            background: 20px no-repeat transparent;
        }
    } 

     .calculation .container:after {
        right: 0;
    }
}

@media screen and (max-width: 1400px) {
    .slider-template {
        margin: 0 auto;
        width: 780px;

        .slick-arrow {
            &.slick-next {
                right: -80px;
            }

            &.slick-prev {
                left: -80px;
            }

        }
    }
}





@media screen and (max-width: 1199px) {
}
