
.first-screen {
    position: relative;
    margin-bottom: 100px;


    &__title {
        font-weight: 700;
        font-size: 56px;
        line-height: 126%;
        text-transform: uppercase;
        margin-bottom: 8px;
        max-width: 500px;
    }

    &__subtitle {
        font-weight: 300;
        font-size: 20px;
        line-height: 135.5%;
        margin-bottom: 37px;
        max-width: 336px;
    }
    .btn-lg {
        padding: 19.6px 28px;
    }
    .slick-list {
        margin: 0 -10px;
        border-radius: 22px;
    }

    .slick-slide {
        margin: 0 10px;
        padding: 165px 92px 228px;
        border-radius: 22px;
        background-position: center;
        background-size: cover
    }


}


