
footer {
    height: 100px;
    background: $color-secondary;
    margin-top: auto;
}

.markap {
    position: fixed;
    left: 10px;
    bottom: 20px;
    background-color: rgb(194, 47, 108);
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    padding: 7px 12px;
    border-radius: 15px;
    line-height: 1;
}