<section class="test">
    <div class="container">
        <div class="template-title col-md-7">
            <h2>Получить рассчет стоимости доставки вашего груза</h2>
        </div>
    </div>
</section>
<section class="test">
    <div class="container">
        <div class="template-title text-left">
            <h2>О компании</h2>
        </div>
    </div>
</section>
<section class="test">
    <div class="container">
        <div class="template-title">
            <h2>Часто задаваемые вопросы</h2>
        </div>
    </div>
</section>
<section class="test  container-fluid">
    <div class="container">
        <div class="template-title">
            <h2>Готовы к сотрудничеству?</h2>
            <h3> Зарегистрируйте груз!</h3>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti tempora dolor, aspernatur quos autem, culpa hic nihil necessitatibus, sapiente architecto ut corrupti iure aliquam alias nemo vitae possimus harum.
        </p>
    </div>
</section>